.ueberschrift1 {
    margin: auto;
    background-color: lightcyan;
    padding: 1em;
    border-radius: 0.5em 0 0.5em ;
    border: 1px solid rgb(10, 103, 119);
    width: 700px;
    position: relative;
    font: arial;
    text-align: center;

}
.spiel {
    margin: auto;
    margin-top: 1em;
    background-color: rgb(240, 135, 158);
    padding: 1em;
    border-radius: 0.5em 0 0.5em ;
    border: 1px solid rgb(190, 133, 147);
    width: 700px;
    position: relative;
    font: arial;
    text-align: center;

}
.info {
    margin: auto;
    margin-top: 1em;
    background-color: rgb(105, 103, 104);
    padding: 1em;
    border-radius: 0.5em 0 0.5em ;
    border: 1px solid rgb(56, 56, 56);
    width: 500px;
    position: relative;
    font: arial;
    text-align: left;

}

.spielbrett {
    width: 610px;
    height: 480px;
    position: relative;
    background-color: #b4b3b1;
    box-sizing: border-box;
    border: 10px solid #6F6E6D;
    border-radius: 1px;
    margin: auto;
    padding: 0px;
  }

  .mittelbegrenzung {
    width: 20px;
    height: 450px;
    padding: 5px;
    background-color: #6F6E6D;
    position: absolute;
    left: 3500px;
    top: 0px;
    
  }
  
  .links {
    position: relative;
    left: 1px;
    top: 0px;
  }
  
  .rechts {
    position: relative;
    left: 330px;
    top: -389px;
  }
  
  .dreieck-oben {
      width: 0px; 
      height: 0px; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 195px solid rgb(230, 84, 26);
    border-bottom: 0px solid;
    display: inline;
    float: left;
  }
  
  .links .unten {
    clear: left;
  }
  
  .rechts .oben {
    clear: left;
  }
  
  .rechts .unten {
    clear: left;
  }
  
  .unten {
    position: relative;
    top: 70px
  }
  /*
  .bottom-row, .top-row {
    margin: 0 auto;
    width: 550px;
    clear: both;
  }
  */
  
  
  .dreieck-unten {
      width: 0px; 
      height: 0px; 
    border-top: 0px solid;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent ;
      border-bottom: 195px solid green;
    display: inline;
    float: left;
  }
  
  .dreieck-unten.ungerade {
    border-bottom: 195px solid rgb(29, 179, 179);}
  
  .dreieck-oben.gerade {
    border-top: 195px solid  rgb(29, 179, 179);}
  
  .mittelbegrenzung {
    width: 20px;
    height: 450px;
    padding: 5px;
    background-color: #6F6E6D;
    position: absolute;
    left: 280px;
    top: 0px;
    
  }
  
  .stein1 {
    width: 36px;
    height: 36px;
    background-color: #fff;    
    position: absolute;
    top: 0;
    left: 17px;
    z-value: 1;
    border-radius: 18px;
  }
  
  .stein2 {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 17px;
    z-value: 1;
    border-radius: 18px;
    
  }
  
  .stein3 {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 76px;
    left: 17px;
    z-value: 1;
    border-radius: 18px;
    
  }
  .stein4 {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 114px;
    left: 17px;
    z-value: 1;
    border-radius: 18px;
    
  }
  
  .stein5 {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 152px;
    left: 17px;
    z-value: 1;
    border-radius: 18px;
    
  }
  
  
