.stein-weiss {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0px;
    z-value: 1;
    border-radius: 18px;
    opacity: 0.8;
}

.stein-schwarz {
    width: 36px;
    height: 36px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    z-value: 1;
    border-radius: 18px;
    opacity: 0.8;
}
